body {
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: Outfit;
}

header {
    border-right: 1px solid #E5E5EA;
}

.nav-bar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 200px;
    height: 50vh;
    gap: 32px;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 28px;
    height: 28px;
}

.name {
    display: flex;
}

.name h2 {
    margin: 0%;
    font-weight: 800;
    font-family: Outfit;
    font-size: 22px;
    color: #1A1A1A;
}

.name .orange {
    color: #FF6B00;
}

.nav-cont ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-cont ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.links {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    transition: background 0.2s ease, color 0.2s ease;
    font-weight: 800;
    font-family: Outfit;
    font-size: 15px;
    color: #666666;
}

.links:hover {
    color: #FF6B00;
}

.active .links {
    background-color: #FFF3E0;
    color: #FF6B00;
}